FORMAT: 1A
HOST: https://api.retiqueta.com/

# Retiqueta

The backend entry point to the retiqueta platform.

## JSON API

The retiqueta API will follow the *[jsonapi specification](www.jsonapi.org)*.

## Authentication
*Retiqueta* uses OAuth Authorization. First you create a new (or acquire existing) OAuth token using Basic Authentication.
After you have acquired your token you can use it to access other resources within token' scope.

##  Security

All endpoints should be secured with SSL.

## Errors

The following are the existent errors returned by the API:

| Title                 | Http Status   | Error Code  | Description                              |
| --------------------- |:-------------:|:-----------:|-----------------------------------------:|
| failed-validation     | 400           | 100         | Resource failed to pass validations      |
| unauthorized          | 401           | 101         | User is not authorized

## Authenticate Users [/v1/authenticate]

###  Request access [POST]

This endpoint allows the user to get authenticated against the API using a password grant. You must provide
login and password. The login could be either the email or the username. The api will
return an *access_token* and *refresh_token* that user can use for subsequent requests.

+ Payload
    + Headers

            Accept: application/json
            Content-Type: application/json

    + Attributes
        + login (string) - The email or username.
        + password (string) - The password of the user.

    + Body

             {
                    "login": "rafaelchacon",
                    "password": "123456",
                    "client_id": "ret-mobile-ios"
            }

+ Request (application/json)

            {
                "login": "rafaelchacon",
                "password": "123456",
                "client_id": "ret-mobile-ios"
            }

+ Response 200 (application/json)

    + Body

            {
                  "refresh_token": "5b0ade916e4d444cc493a5746e5cf292",
                  "token_type": "bearer",
                  "access_token": "48e1358c41e14498c42ee4d5df3b0b5d",
                  "expires_in": 7200
                  "user_id": "5a735a68-c845-44d4-9e5a-c8546bc34a2e"
            }

## Refresh user tokens [/v1/authenticate/token]

###  Request access [POST]

This endpoint allows the user to get refresh a token and get a new access token.

+ Payload
    + Headers

            Accept: application/json
            Content-Type: application/json

    + Attributes
        + login (string) - The email or username.
        + password (string) - The password of the user.

    + Body

             {
                    "refresh_token": "5b0ade916e4d444cc493a5746e5cf292",
                    "client_id": "ret-mobile-ios"
            }

+ Request (application/json)

            {
                "refresh_token": "rafaelchacon",
                "client_id": "ret-mobile-ios"
            }

+ Response 200 (application/json)

    + Body

            {
                  "refresh_token": "5b0ade916e4d444cc493a5746e5cf292",
                  "token_type": "bearer",
                  "access_token": "48e1358c41e14498c42ee4d5df3b0b5d",
                  "expires_in": 7200
            }

## User Registration [/v1/registrations]


### Register a new user [POST]

This is the endpoint used to create users. It takes a JSON
object containing the required attributes for an user.

+ Payload
    + Headers

            Accept: application/json

    + Attributes
        + email (string) - The email of the user being created.
        + password (string) - The password of the user being created.
        + username (string) - The name of the user being created.
    + Body

            {
                "data": {
                "type": "users",
                "attributes": {
                    "password": "123456",
                    "email": "rafaelchacon@gmail.com",
                    "username": "rafael"
                    }
                }
            }

+ Request (application/json)

            {
                "data": {
                "type": "users",
                "attributes": {
                    "password": "123456",
                    "email": "rafaelchacon@gmail.com",
                    "username": "rafael"
                    }
                }
            }

+ Response 201 (application/json)

    + Headers

            Location: /users/686f3602-fbff-421f-8372-ecb4c156be2b

    + Body

            {
                 "data": {
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "users",
                    "attributes": {
                      "username": "rafael",
                      "email": "jose@gmail.com",
                      "profile_pic" null,
                      "followers_count": 0,
                      "following_count": 0
                    }
                }
            }


## User [/v1/users/{user_id}]


### Get User [GET]

This is the endpoint used to retrieve user information.
When requesting an user different that the one provided
by the authorization token, a meta tag will be included in the
response where extra information can be found. Right now it contains a flag
to indicate wheter or not the current user is following the requested user.

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
                 "data": {
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "users",
                    "attributes": {
                      "first_name": "Rafael",
                      "last_name": "Chacon",
                      "bio": "My super bio",
                      "website": "http://www.rafael-chacon.com",
                      "country": "Venezuela",
                      "username": "rafael",
                      "email": "jose@gmail.com",
                      "profile_pic": "http://s3.amazonaws.com/retiqueta-dev-images/73ede61af99add88d8c32e61a43ab920fdeab818.jpg?1444979019",
                      "followers_count": 0,
                      "following_count": 0
                    }
                }
                "meta": {
                    "followed_by_current_user": false
                }
            }



### Update user [PATCH]

This is the endpoint used to create users. It takes a JSON
object containing the required attributes for an user.

+ Payload
    + Headers

            Accept: application/json

    + Attributes
        + first_name (string) - New value for first_name.
        + last_name (string) - New value for last_name.
        + website (string) - New value for website.
        + bio (string) - New value for bio.
        + country (string) - New value for country.

    + Body

            {
                "data": {
                "type": "users",
                "attributes": {
                    "first_name": "rafael",
                    "last_name": "chacon",
                    "website": "http://www.rafael-chacon.com",
                    "bio": "New bio",
                    "country": "venezeula"
                    }
                }
            }

+ Request (application/json)

            {
                "data": {
                "type": "users",
                "attributes": {
                    "first_name": "rafael",
                    "last_name": "chacon",
                    "website": "http://www.rafael-chacon.com",
                    "bio": "New bio",
                    "country": "venezeula"
                    }
                }
            }

+ Response 204 (application/json)


## User following [/v1/users/{user_id}/follow]

### Follow [POST]

The user that is currently authenticated follows the provided user.

+ Payload
    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 204 (application/json)

## User unfollowing [/v1/users/{user_id}/unfollow]

### Unfollow [POST]

The user that is currently authenticated unfollows the provided user.

+ Payload
    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 204 (application/json)

## Upload profile picture [/v1/users/{user_id}/upload-profile-pic]

### Sets a new profile picture for the user [PUT]

Upload profile picture for users.

+ Payload
    + Headers

            Accept: application/json

    + Attributes
        + pic (object) - Base 64 enconded picture.
    + Body

            {
              "data": {
                "type": "users",
                "attributes": {
                  "pic": {
                    "filename": "123456",
                    "content": "<Base 64 Encoded file>",
                    "content_type": "rafael"
                  }
                }
              }
            }

+ Request (application/json)

            {
              "data": {
                "type": "users",
                "attributes": {
                  "pic": {
                    "filename": "123456",
                    "content": "<Base 64 Encoded file>",
                    "content_type": "rafael"
                  }
                }
              }
            }

+ Response 201 (application/json)

    + Headers

            Location: /users/686f3602-fbff-421f-8372-ecb4c156be2b

    + Body

            {
                 "data": {
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "users",
                    "attributes": {
                      "first_name": "rafael",
                      "username": "rafael",
                      "email": "jose@gmail.com",
                      "profile_pic": "http://s3.amazonaws.com/retiqueta-dev-images/73ede61af99add88d8c32e61a43ab920fdeab818.jpg?1444979019",
                      "followers_count": 0,
                      "following_count": 0
                    }
                }
            }

## Product Pictures [/v1/product_pictures]

### Create Product Picture [POST]

This endpoint allows clients to upload pictures that can be later on attached to products. The product doesn't have to exist at this point.
Clients just need to save the ID and attach it to a product on creation.
+ Payload
    + Headers

            Accept: application/json

    + Attributes
        + pic (Object) - Picture to upload

    + Body

            {
                 "data": {
                    "type": "product_pictures",
                    "attributes": {
                        "pic": {
                            "content_type": "image/jpeg",
                            "filename": "watchmen.jpg",
                            "content": "Base64 encoded file"
                        }
                    }
                }
            }

+ Request (application/json)

            {
                 "data": {
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "product_pictures",
                    "attributes": {
                        "pic": {
                            "content_type": "image/jpeg",
                            "filename": "watchmen.jpg",
                            "content": "Base64 encoded file"
                        }
                    }
                }
            }

+ Response 201 (application/json)

    + Body

            {
                 "data": {
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "product_pictures",
                    "attributes": {
                        "position": 0,
                        "pic": {
                            "content_type": "image/jpeg",
                            "filename": "watchmen.jpg",
                            "content": "Base64 encoded file"
                        }
                    }
                }
            }

## Products [/v1/products]

### Create product [POST]

+ Payload
    + Headers

            Accept: application/json

    + Attributes
        + title (String) -
        + category (String) -
        + description (String) -
        + original_price (Double) -
        + price (Double)  -
        + pictirues (Array) - Array with picture ids. At least one is required.
    + Body

            {
                 "data": {
                    "type": "products",
                    "attributes": {
                         "category": "shoes",
                         "title": "My awesome shoes",
                         "description": "Estos zapatos tienen mucha historia conmigo",
                         "original_price": 60,
                         "price": 40,
                         "pictures": [1,2]
                    }
                }
            }

+ Request (application/json)

            {
                 "data": {
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                         "category": "shoes",
                         "title": "My awesome shoes",
                         "description": "Estos zapatos tienen mucha historia conmigo",
                         "original_price": 60,
                         "price": 40,
                         "pictures": [1,2]
                    }
                }
            }
+ Response 201 (application/json)

    + Body

            {
                 "data": {
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                     "attributes": {
                         "category": "shoes",
                         "title": "My awesome shoes",
                         "description": "Estos zapatos tienen mucha historia conmigo",
                         "original_price": 60,
                         "price": 40,
                         "status": "published"
                    }
                }
            }

## Product [/v1/products/{id}]

### Get product [GET]

+ Response 200 (application/json)
    + Body

            {
                 "data": {
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                      "description": "Camisa manga larga #zara color negro #casual.",
                      "currency": "USD",
                      "original_price": 40.20,
                      "price": 20.0,
                      "status": "published"
                    }

                }
            }

+ Response 204 (application/json)

### Update product [PATCH]


+ Payload
    + Headers

            Accept: application/json

    + Attributes
        + title (String) -
        + category (String) -
        + description (String) -
        + original_price (Double) -
        + price (Double)  -
        + pictirues (Array) - Array with picture ids. At least one is required.
    + Body

            {
                 "data": {
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                         "category": "shoes",
                         "title": "My awesome shoes",
                         "description": "Estos zapatos tienen mucha historia conmigo",
                         "original_price": 60,
                         "price": 40
                    }

                }
            }

+ Request (application/json)

            {
                 "data": [{
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                      "description": "Camisa manga larga #zara color negro #casual.",
                      "currency": "USD",
                      "original_price": 40.20,
                      "price": 20.0,
                      "status": "published"
                    }
                    ]
                }
            }

+ Response 204 (application/json)

### Delete Product [DELETE]

+ Response 204 (application/json)


## Featured Products [/v1/products/featured]

### Get all featured products products [GET]

+ Response 200 (application/json)

    + Body

            {
                 "data": [{
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                      "description": "Camisa manga larga #zara color negro #casual.",
                      "currency": "USD",
                      "original_price": 40.20,
                      "price": 20.0,
                      "status": "published"
                    }
                    ]
                }
            }

## Search Products [/v1/products/search]

### Search products [GET]

+ Response 200 (application/json)

    + Body

            {
                 "data": [{
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                      "description": "Camisa manga larga #zara color negro #casual.",
                      "currency": "USD",
                      "original_price": 40.20,
                      "price": 20.0,
                      "status": "published"
                    }
                    ]
                }
            }

## User products [/v1/users/{user_id}/relationships/products]

### Get all products associated to a given user [GET]

+ Response 200 (application/json)

    + Body

            {
                 "data": [{
                    "id": "ax234-02d3-4780-bb15-180854169967",
                    "type": "products",
                    "attributes": {
                      "description": "Camisa manga larga #zara color negro #casual.",
                      "currency": "USD",
                      "original_price": 40.20,
                      "price": 20.0,
                      "status": "published"
                    }
                    ]
                }
            }

## User Following [/v1/users/{user_id}/relationships/following]


### Get User Following [GET]

Returns the users that the user is following.

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
                 "data": [
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "users",
                    "attributes": {
                      "username": "rafael"
                    },
                    "meta": {
                      "followed_by_current_user": true
                    }
                ]

            }

## User Followers [/v1/users/{user_id}/relationships/followers]

### Get User Followers [GET]

Returns the followers of the user.

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
                 "data": [
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "users",
                    "attributes": {
                      "username": "rafael"
                    },
                    "meta": {
                      "followed_by_current_user": true
                    }
                ]
            }

## Product coments [/v1/products/{product_id}/relationships/comments]

### Create comment [POST]

Adds a comment to the product

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json
    + Attributes
        + text (string) - Context of the comment
    + Body

            {
                "data": {
                  "type": "text_comments",
                  "attributes": {
                    "text": "Que blusa tan bonita @rafael"
                  }
                }
            }

+ Response 201 (application/json)

    + Body

            {
                 "data": {
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "text_comments",
                    "attributes": {
                      "user_id": "3e3ef58c-a98a-4476-95c7-442f33a98c2d",
                      "user_picture": "http://s3.amazonaws.com/retiqueta-dev-images/73ede61af99add88d8c32e61a43ab920fdeab818.jpg?1444979019",
                      "text": "Que blusa tan bonita @rafael"
                    }
                }
            }


### Get product comments [GET]

Fetch comments for the product. This endpoint is paginated.

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
                 "data": [
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "text_comments",
                    "attributes": {
                      "user_id": "3e3ef58c-a98a-4476-95c7-442f33a98c2d",
                      "user_picture": "http://s3.amazonaws.com/retiqueta-dev-images/73ede61af99add88d8c32e61a43ab920fdeab818.jpg?1444979019",
                      "text": "Que blusa tan bonita @rafael"
                    }
                ]
            }


## User push tokens [/v1/users/{user_id}/relationships/push_tokens]

### Create push device token [POST]

Adds a device push token to an user

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json
    + Attributes
        + environment (string) - Environment of the push token cert (only for ios - it should be development or production).
        + token (string) - Push token
        + device_id (string) - The unique identifier of the device (only if available)
        + platform (string) - iOS or  Android
    + Body
        {
          "data": {
            "type": "push_notifications",
            "attributes": {
              "environment": "development",
              "token": "super-token",
              "device_id": "device-id",
              "platform": "ios",
            }
          }
        }

+ Response 204 (application/json)

## Product unlike [/v1/products/{product_id}/unlike]

### Unlike a product [POST]

Remove a like from a product.

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json
    

+ Response 204 (application/json)

## Product likes [/v1/products/{product_id}/relationships/likes]

### Get User likes [GET]

Returns the likes of the product.

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
                 "data": [
                    "id": "f52c3d57-02d3-4780-bb15-180854169967",
                    "type": "users",
                    "attributes": {
                      "username": "rafael"
                ]
            }

## Password reset requests [/v1/send_password_reset]

### Request a password reset [POST]

Allows users to request changing their passwords by supplying their emails

+ Payload
    + Headers
    
            Accept: application/json
            Content-Type: application/json

    + Attributes
        + email (string) - The email of the user requesting their password to be reset
        
        
    + Body

            {
                "data": {
                    "type": "users",
                    "attributes": {
                        "email": "rafaelchacon@gmail.com"
                    }
                }
            }

+ Request (application/json)

            {
                "data": {
                    "type": "users",
                    "attributes": {
                        "email": "rafaelchacon@gmail.com"
                    }
                }
            }


+ Response 204 (application/json)

## Password resets [/v1/reset_password]

### Update user password [POST]

Allows users to change their passwords

+ Payload
    + Headers
    
            Accept: application/json
            Content-Type: application/json

    + Attributes
        + password (string) - New password for the user
        + token (string) - Token generated when requestig password reset

        
    + Body

            {
                "data": {
                    "type": "users",
                    "attributes": {
                        "password": "password",
                        "token": "token"
                    }
                }
            }

+ Response 204 (application/json)

## Orders [/v1/orders/{order_id}] 

### Get Order ID  [GET]

Fetch order by id for current user. It accepts included with the following options: 

     line_items
     line_items.product
     line_items.product.product_pictures
     user
     fulfillment

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body
            
            {
              "data": {
                "id": "c6f8f52d-afc7-400b-994f-dd1ed281a831",
                "type": "orders",
                "attributes": {
                  "total_amount": 40,
                  "financial_status": "paid"
                },
                "relationships": {
                  "line_items": {
                    "data": [
                      {
                        "id": "44399ef5-08b8-4ac5-ac90-3891d515e931",
                        "type": "line_items"
                      }
                    ]
                  },
                  "fulfillment": {
                    "data": {
                      "id": "e6913f8b-5159-4ac0-a05a-6067b5e72e2d",
                      "type": "fulfillments"
                    }
                  },
                  "user": {
                    "data": {
                      "id": "8e4a36dc-ab21-4195-a559-3b250f20f628",
                      "type": "users"
                    }
                  }
                }
              },
              "included": [
                {
                  "id": "44399ef5-08b8-4ac5-ac90-3891d515e931",
                  "type": "line_items",
                  "relationships": {
                    "product": {
                      "data": {
                        "id": "ae709162-4839-456f-b953-6bf41897d30a",
                        "type": "products"
                      }
                    }
                  }
                },
                {
                  "id": "ae709162-4839-456f-b953-6bf41897d30a",
                  "type": "products",
                  "attributes": {
                    "title": "Mis mejores zapatos",
                    "description": "En muy buen estado",
                    "category": null,
                    "original_price": 80,
                    "currency": null,
                    "size": null,
                    "price": 40,
                    "comments_count": 0,
                    "likes_count": 0
                  },
                  "relationships": {
                    "product_pictures": {
                      "data": [
                        {
                          "id": "1",
                          "type": "product_pictures"
                        }
                      ]
                    },
                    "comments": {
                      "data": []
                    },
                    "user": {
                      "data": {
                        "id": "ee336cd0-eb26-44c5-9b18-da01b58f7ca6",
                        "type": "users"
                      }
                    }
                  },
                  "meta": {
                    "liked_by_current_user": false
                  }
                },
                {
                  "id": "1",
                  "type": "product_pictures",
                  "attributes": {
                    "url": "/pics/original/missing.png",
                    "small_url": "/pics/small/missing.png",
                    "large_url": "/pics/large/missing.png",
                    "product_id": "ae709162-4839-456f-b953-6bf41897d30a"
                  }
                },
                {
                  "id": "e6913f8b-5159-4ac0-a05a-6067b5e72e2d",
                  "type": "fulfillments",
                  "attributes": {
                    "status": "pending"
                  },
                  "relationships": {
                    "comments": {
                      "data": []
                    }
                  }
                },
                {
                  "id": "8e4a36dc-ab21-4195-a559-3b250f20f628",
                  "type": "users",
                  "attributes": {
                    "username": "johnsnow3",
                    "profile_pic": "/pics/original/missing.png",
                    "first_name": "John 3",
                    "last_name": "Snow 3",
                    "website": "http://www.google.com",
                    "country": {
                      "code": "VE",
                      "name": "Venezuela"
                    },
                    "bio": "My Super Bio",
                    "following_count": 0,
                    "followers_count": 0,
                    "currency": {
                      "code": "VEF",
                      "name": "Bolivares Fuertes",
                      "symbol": "Bs"
                    }
                  }
                }
              ]
            }

## Orders [/v1/orders]

### Create order [POST]

### Get Orders  [GET]

Fetch orders current user. This endpoint is paginated.It accepts included with the following options: 

     line_items
     line_items.product
     line_items.product.product_pictures
     user
     fulfillment

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "0fd3ec72-6a9c-427a-a0b0-2e8e85a21d38",
                  "type": "orders",
                  "attributes": {
                    "total_amount": 40,
                    "financial_status": "paid"
                  },
                  "relationships": {
                    "line_items": {
                      "data": [
                        {
                          "id": "7d6b0d0e-120c-469f-863a-9ff933082ea6",
                          "type": "line_items"
                        }
                      ]
                    },
                    "fulfillment": {
                      "data": {
                        "id": "bfa331d6-6ba9-4a82-85c7-a4fbbdff660a",
                        "type": "fulfillments"
                      }
                    },
                    "user": {
                      "data": {
                        "id": "adab9726-08d3-4e89-a889-176e2be87ff7",
                        "type": "users"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "id": "7d6b0d0e-120c-469f-863a-9ff933082ea6",
                  "type": "line_items",
                  "relationships": {
                    "product": {
                      "data": {
                        "id": "20daef17-330b-4e91-9ef8-c97f7d48be3e",
                        "type": "products"
                      }
                    }
                  }
                },
                {
                  "id": "20daef17-330b-4e91-9ef8-c97f7d48be3e",
                  "type": "products",
                  "attributes": {
                    "title": "Mis mejores zapatos",
                    "description": "En muy buen estado",
                    "category": null,
                    "original_price": 80,
                    "currency": null,
                    "size": null,
                    "price": 40,
                    "comments_count": 0,
                    "likes_count": 0
                  },
                  "relationships": {
                    "product_pictures": {
                      "data": [
                        {
                          "id": "2",
                          "type": "product_pictures"
                        }
                      ]
                    },
                    "comments": {
                      "data": []
                    },
                    "user": {
                      "data": {
                        "id": "e10c16b4-008d-4dab-b572-1eb8d0b5593a",
                        "type": "users"
                      }
                    }
                  },
                  "meta": {
                    "liked_by_current_user": false
                  }
                },
                {
                  "id": "2",
                  "type": "product_pictures",
                  "attributes": {
                    "url": "/pics/original/missing.png",
                    "small_url": "/pics/small/missing.png",
                    "large_url": "/pics/large/missing.png",
                    "product_id": "20daef17-330b-4e91-9ef8-c97f7d48be3e"
                  }
                },
                {
                  "id": "bfa331d6-6ba9-4a82-85c7-a4fbbdff660a",
                  "type": "fulfillments",
                  "attributes": {
                    "status": "pending"
                  },
                  "relationships": {
                    "comments": {
                      "data": []
                    }
                  }
                },
                {
                  "id": "adab9726-08d3-4e89-a889-176e2be87ff7",
                  "type": "users",
                  "attributes": {
                    "username": "johnsnow6",
                    "profile_pic": "/pics/original/missing.png",
                    "first_name": "John 6",
                    "last_name": "Snow 6",
                    "website": "http://www.google.com",
                    "country": {
                      "code": "VE",
                      "name": "Venezuela"
                    },
                    "bio": "My Super Bio",
                    "following_count": 0,
                    "followers_count": 0,
                    "currency": {
                      "code": "VEF",
                      "name": "Bolivares Fuertes",
                      "symbol": "Bs"
                    }
                  }
                }
              ],
              "links": {}
            }
            


## Sales [/v1/sales/{sale_id}] 

### Get Sale ID  [GET]

Fetch order by id for current user. It accepts included with the following options: 

      order
      order.line_items
      order.line_items.product
      order.line_items.product.product_pictures
      order.user
      order.fulfillment

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
              "data": {
                "id": "c8f6568a-90be-4705-b129-c5c4862ae004",
                "type": "sales",
                "attributes": {
                  "amount": 32,
                  "store_fee": 8
                },
                "relationships": {
                  "order": {
                    "data": {
                      "id": "4bc40756-33dc-4d51-8a31-4bb7a3c6ecb4",
                      "type": "orders"
                    }
                  }
                }
              },
              "included": [
                {
                  "id": "4bc40756-33dc-4d51-8a31-4bb7a3c6ecb4",
                  "type": "orders",
                  "attributes": {
                    "total_amount": 40,
                    "financial_status": "paid"
                  },
                  "relationships": {
                    "line_items": {
                      "data": [
                        {
                          "id": "754f0286-0b96-47c0-bf8d-4d82da9c5bc8",
                          "type": "line_items"
                        }
                      ]
                    },
                    "fulfillment": {
                      "data": {
                        "id": "a8cacccd-82b4-4d59-90fd-7bf1100c8b1a",
                        "type": "fulfillments"
                      }
                    },
                    "user": {
                      "data": {
                        "id": "842dee50-a8f3-4d8b-9c16-39cfb77f4812",
                        "type": "users"
                      }
                    }
                  }
                },
                {
                  "id": "754f0286-0b96-47c0-bf8d-4d82da9c5bc8",
                  "type": "line_items",
                  "relationships": {
                    "product": {
                      "data": {
                        "id": "a91f922f-0950-4a00-9cdd-24332809569e",
                        "type": "products"
                      }
                    }
                  }
                },
                {
                  "id": "a91f922f-0950-4a00-9cdd-24332809569e",
                  "type": "products",
                  "attributes": {
                    "title": "Mis mejores zapatos",
                    "description": "En muy buen estado",
                    "category": null,
                    "original_price": 80,
                    "currency": null,
                    "size": null,
                    "price": 40,
                    "comments_count": 0,
                    "likes_count": 0
                  },
                  "relationships": {
                    "product_pictures": {
                      "data": [
                        {
                          "id": "1",
                          "type": "product_pictures"
                        }
                      ]
                    },
                    "comments": {
                      "data": []
                    },
                    "user": {
                      "data": {
                        "id": "9875275f-56a6-437d-af34-e281ea8cbc62",
                        "type": "users"
                      }
                    }
                  },
                  "meta": {
                    "liked_by_current_user": false
                  }
                },
                {
                  "id": "1",
                  "type": "product_pictures",
                  "attributes": {
                    "url": "/pics/original/missing.png",
                    "small_url": "/pics/small/missing.png",
                    "large_url": "/pics/large/missing.png",
                    "product_id": "a91f922f-0950-4a00-9cdd-24332809569e"
                  }
                },
                {
                  "id": "a8cacccd-82b4-4d59-90fd-7bf1100c8b1a",
                  "type": "fulfillments",
                  "attributes": {
                    "status": "pending"
                  },
                  "relationships": {
                    "comments": {
                      "data": []
                    }
                  }
                },
                {
                  "id": "842dee50-a8f3-4d8b-9c16-39cfb77f4812",
                  "type": "users",
                  "attributes": {
                    "username": "johnsnow3",
                    "profile_pic": "/pics/original/missing.png",
                    "first_name": "John 3",
                    "last_name": "Snow 3",
                    "website": "http://www.google.com",
                    "country": {
                      "code": "VE",
                      "name": "Venezuela"
                    },
                    "bio": "My Super Bio",
                    "following_count": 0,
                    "followers_count": 0,
                    "currency": {
                      "code": "VEF",
                      "name": "Bolivares Fuertes",
                      "symbol": "Bs"
                    }
                  }
                }
              ]
            }
    
        
## Sales [/v1/sales]


### Get Sales  [GET]

Fetch sales current user. This endpoint is paginated. It accepts included with the following options: 

      order
      order.line_items
      order.line_items.product
      order.line_items.product.product_pictures
      order.user
      order.fulfillment

+ Payload

    + Headers

            Accept: application/json
            Authorization: "Bearer 48e1358c41e14498c42ee4d5df3b0b5d"
            Content-Type: application/json

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "e0813ec0-b7fd-4398-81eb-b3fb044d7be3",
                  "type": "sales",
                  "attributes": {
                    "amount": 32,
                    "store_fee": 8
                  },
                  "relationships": {
                    "order": {
                      "data": {
                        "id": "cc60d07e-57f3-435c-9c94-682a68f65e19",
                        "type": "orders"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "id": "cc60d07e-57f3-435c-9c94-682a68f65e19",
                  "type": "orders",
                  "attributes": {
                    "total_amount": 40,
                    "financial_status": "paid"
                  },
                  "relationships": {
                    "line_items": {
                      "data": [
                        {
                          "id": "521e62a4-bff3-4919-ade2-e10f8e48870b",
                          "type": "line_items"
                        }
                      ]
                    },
                    "fulfillment": {
                      "data": {
                        "id": "33907ab1-a9f9-4223-b091-863a5031f39e",
                        "type": "fulfillments"
                      }
                    },
                    "user": {
                      "data": {
                        "id": "6639d900-a416-4df6-8089-80f106fc30cd",
                        "type": "users"
                      }
                    }
                  }
                },
                {
                  "id": "521e62a4-bff3-4919-ade2-e10f8e48870b",
                  "type": "line_items",
                  "relationships": {
                    "product": {
                      "data": {
                        "id": "576ac1aa-36a9-413d-8fa3-32ad24307e86",
                        "type": "products"
                      }
                    }
                  }
                },
                {
                  "id": "576ac1aa-36a9-413d-8fa3-32ad24307e86",
                  "type": "products",
                  "attributes": {
                    "title": "Mis mejores zapatos",
                    "description": "En muy buen estado",
                    "category": null,
                    "original_price": 80,
                    "currency": null,
                    "size": null,
                    "price": 40,
                    "comments_count": 0,
                    "likes_count": 0
                  },
                  "relationships": {
                    "product_pictures": {
                      "data": [
                        {
                          "id": "1",
                          "type": "product_pictures"
                        }
                      ]
                    },
                    "comments": {
                      "data": []
                    },
                    "user": {
                      "data": {
                        "id": "49552a5f-5614-4453-81e8-d0bbf6134dda",
                        "type": "users"
                      }
                    }
                  },
                  "meta": {
                    "liked_by_current_user": false
                  }
                },
                {
                  "id": "1",
                  "type": "product_pictures",
                  "attributes": {
                    "url": "/pics/original/missing.png",
                    "small_url": "/pics/small/missing.png",
                    "large_url": "/pics/large/missing.png",
                    "product_id": "576ac1aa-36a9-413d-8fa3-32ad24307e86"
                  }
                },
                {
                  "id": "33907ab1-a9f9-4223-b091-863a5031f39e",
                  "type": "fulfillments",
                  "attributes": {
                    "status": "pending"
                  },
                  "relationships": {
                    "comments": {
                      "data": []
                    }
                  }
                },
                {
                  "id": "6639d900-a416-4df6-8089-80f106fc30cd",
                  "type": "users",
                  "attributes": {
                    "username": "johnsnow3",
                    "profile_pic": "/pics/original/missing.png",
                    "first_name": "John 3",
                    "last_name": "Snow 3",
                    "website": "http://www.google.com",
                    "country": {
                      "code": "VE",
                      "name": "Venezuela"
                    },
                    "bio": "My Super Bio",
                    "following_count": 0,
                    "followers_count": 0,
                    "currency": {
                      "code": "VEF",
                      "name": "Bolivares Fuertes",
                      "symbol": "Bs"
                    }
                  }
                }
              ],
              "links": {}
            }
