<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.username %></p>
    <p>
      <a href="<%= password_reset_url(@token) %>" target="_blank">
        Click here to reset your Retiqueta password
      </a>
    </p>
  </body>
</html>
