---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/customers?access_token=TEST-7996492241102187-020901-2125bf21d3eda6d5c1150a3ae949e743__LD_LB__-203200861
    body:
      encoding: UTF-8
      string: '{"email":"john1@winterfell.com","name":"Rafael Alberto","last_name":"Chacon","identification":{"type":"CI","number":"17646706"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - f01773435ed986a95599591820a408e3
    body:
      encoding: UTF-8
      string: '{"id":"207271966-8Twvet63yoRLqR","email":"john1@winterfell.com","first_name":null,"last_name":"Chacon","phone":{"area_code":null,"number":null},"identification":{"type":"CI","number":"17646706"},"address":{"id":null,"zip_code":null,"street_name":null,"street_number":null},"date_registered":null,"description":null,"date_created":"2016-11-21T02:18:16.736-04:00","date_last_updated":null,"metadata":{},"default_card":null,"default_address":null,"cards":[],"addresses":[],"live_mode":false}'
  recorded_at: Mon, 21 Nov 2016 06:18:17 GMT
- request:
    method: post
    uri: https://api.mercadopago.com/v1/customers/207271966-8Twvet63yoRLqR/cards?access_token=TEST-7996492241102187-020901-2125bf21d3eda6d5c1150a3ae949e743__LD_LB__-203200861
    body:
      encoding: UTF-8
      string: '{"token":"287e6d7899cfb0ee51de5d8bcc12c311"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - 0ffb46eb61e90f2a0eaed7c8f6e922b6
    body:
      encoding: UTF-8
      string: '{"id":"1479709097772","customer_id":"207271966-8Twvet63yoRLqR","expiration_month":12,"expiration_year":2017,"first_six_digits":"450995","last_four_digits":"3704","payment_method":{"id":"visa","name":"visa","payment_type_id":"credit_card","thumbnail":"http://img.mlstatic.com/org-img/MP3/API/logos/visa.gif","secure_thumbnail":"https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif"},"security_code":{"length":3,"card_location":"back"},"issuer":{"id":212,"name":"Visa"},"cardholder":{"name":"APRO
        Rafael","identification":{"number":"17646706","type":"CI-V"}},"date_created":"2016-11-21T02:13:59.139-04:00","date_last_updated":"2016-11-21T02:14:08.658-04:00","live_mode":false}'
  recorded_at: Mon, 21 Nov 2016 06:18:18 GMT
- request:
    method: get
    uri: https://api.mercadopago.com/v1/customers/207271966-8Twvet63yoRLqR?access_token=TEST-7996492241102187-020901-2125bf21d3eda6d5c1150a3ae949e743__LD_LB__-203200861
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - dda9861bf0378807adc7e57f3d8d66bf
    body:
 [...]
