---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/payments?access_token=TEST-7996492241102187-020901-2125bf21d3eda6d5c1150a3ae949e743__LD_LB__-203200861
    body:
      encoding: UTF-8
      string: '{"transaction_amount":30.0,"description":"Buy in retiqueta.com","installments":1,"payer":{"email":"john5@winterfell.com"},"token":"ce9e407e91bef10776c06de76656288b","payment_method_id":"visa"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Response-Status:
      - approved/accredited
      X-Caller-Id:
      - '203200861'
      Etag:
      - 73f4876e4d5e4b6e2d7b63c0997de33e
      X-Content-Type-Option:
      - nosniff
      X-Libra-Upstreamhost:
      - 172.16.149.113
    body:
      encoding: UTF-8
      string: '{"id":402500,"date_created":"2016-02-28T23:52:39.000-04:00","date_approved":"2016-02-28T23:52:39.000-04:00","date_last_updated":"2016-02-28T23:52:39.000-04:00","money_release_date":null,"operation_type":"regular_payment","issuer_id":"212","payment_method_id":"visa","payment_type_id":"credit_card","status":"approved","status_detail":"accredited","currency_id":"VEF","description":"Buy
        in retiqueta.com","live_mode":false,"sponsor_id":null,"authorization_code":null,"collector_id":203200861,"payer":{"type":"guest","id":null,"email":"john5@winterfell.com","identification":{"type":null,"number":null},"phone":{"area_code":null,"number":null,"extension":null},"first_name":null,"last_name":null},"metadata":{},"order":{},"external_reference":null,"transaction_amount":30,"transaction_amount_refunded":0,"coupon_amount":0,"differential_pricing_id":null,"transaction_details":{"net_received_amount":27.9,"total_paid_amount":30,"overpaid_amount":0,"external_resource_url":null,"installment_amount":30,"financial_institution":null,"payment_method_reference_id":null},"fee_details":[{"type":"mercadopago_fee","amount":2.1,"fee_payer":"collector"}],"captured":true,"binary_mode":false,"call_for_authorize_id":null,"statement_descriptor":"WWW.MERCADOPAGO.COM","installments":1,"card":{"id":null,"first_six_digits":"450995","last_four_digits":"3704","expiration_month":12,"expiration_year":2016,"date_created":"2016-02-28T23:52:39.000-04:00","date_last_updated":"2016-02-28T23:52:39.000-04:00","cardholder":{"name":"APRO","identification":{"number":"12345678","type":"CI-V"}}},"notification_url":null,"refunds":[]}'
  recorded_at: Mon, 29 Feb 2016 03:52:40 GMT
recorded_with: VCR 2.9.3
