---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/payments?access_token=TEST-7996492241102187-020901-2125bf21d3eda6d5c1150a3ae949e743__LD_LB__-203200861
    body:
      encoding: UTF-8
      string: '{"transaction_amount":30.0,"description":"Buy in retiqueta - Transaction
        eb6a42c4-18bc-410c-b3ae-a3295c71284d","installments":1,"payer":{"email":"john58@winterfell.com"},"token":"token","payment_method_id":"visa"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Card Token not found","error":"bad_request","status":400,"cause":[{"code":2006,"description":"Card
        Token not found","data":null}]}'
  recorded_at: Sun, 21 Aug 2016 19:57:19 GMT
recorded_with: VCR 2.9.3
