---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/payments?access_token=TEST-7996492241102187-020901-2125bf21d3eda6d5c1150a3ae949e743__LD_LB__-203200861
    body:
      encoding: UTF-8
      string: '{"transaction_amount":30.0,"description":"Buy in retiqueta - Transaction
        296ac0df-5e46-44bb-b3a1-e25a60d0e344","installments":1,"payer":{"email":"john5@winterfell.com"},"token":"695a34a9ef226eda2623c982492f55e2","payment_method_id":"visa"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Response-Status:
      - rejected/cc_rejected_insufficient_amount
      X-Caller-Id:
      - '203200861'
      Etag:
      - 3a6ceff2fc879f971b1140574f5f0cf1
    body:
      encoding: UTF-8
      string: '{"id":1345434,"date_created":"2016-08-21T15:43:19.000-04:00","date_approved":null,"date_last_updated":"2016-08-21T15:43:19.000-04:00","money_release_date":null,"operation_type":"regular_payment","issuer_id":"212","payment_method_id":"visa","payment_type_id":"credit_card","status":"rejected","status_detail":"cc_rejected_insufficient_amount","currency_id":"VEF","description":"Buy
        in retiqueta - Transaction 296ac0df-5e46-44bb-b3a1-e25a60d0e344","live_mode":false,"sponsor_id":null,"authorization_code":null,"collector_id":203200861,"payer":{"type":"guest","id":null,"email":"john5@winterfell.com","identification":{"type":null,"number":null},"phone":{"area_code":null,"number":null,"extension":""},"first_name":"","last_name":"john5"},"metadata":{},"order":{},"external_reference":null,"transaction_amount":30,"transaction_amount_refunded":0,"coupon_amount":0,"differential_pricing_id":null,"deduction_schema":null,"transaction_details":{"net_received_amount":0,"total_paid_amount":30,"overpaid_amount":0,"external_resource_url":null,"installment_amount":30,"financial_institution":null,"payment_method_reference_id":null},"fee_details":[],"captured":true,"binary_mode":false,"call_for_authorize_id":null,"statement_descriptor":"WWW.MERCADOPAGO.COM","installments":1,"card":{"id":null,"first_six_digits":"450995","last_four_digits":"3704","expiration_month":12,"expiration_year":2017,"date_created":"2016-08-21T15:43:19.000-04:00","date_last_updated":"2016-08-21T15:43:19.000-04:00","cardholder":{"name":"FUND
        rafael","identification":{"number":"12345678","type":"CI-V"}}},"notification_url":null,"refunds":[]}'
  recorded_at: Sun, 21 Aug 2016 19:43:20 GMT
recorded_with: VCR 2.9.3
