---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.6/me?access_token=EAACEdEose0cBAIRxGQnRSVDZCYmR8tRXiErwvxljf6TwiUcBcZBud6y7EtzJG2x8T0UuyZB04v1QzockmCFAtQUZClhjfFZAcMojCiJZA12jkByV8aLZCGLXiNU9ldL7npOejVGiXwnxcEB4L4G4kbggCItLNIB5tLlfLXZAU71vZCgZDZD&fields=email,first_name,last_name,picture.type(large)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":2,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.6
      Etag:
      - '"a136f4821093dfb342e36c06326fb628db51f86a"'
    body:
      encoding: ASCII-8BIT
      string: '{"email":"rafaelchacon\u0040gmail.com","first_name":"Rafael","last_name":"Chac\u00f3n
        Vivas","picture":{"data":{"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p200x200\/1509000_10153823490520261_711811054_n.jpg?oh=1afce5475c6942bc25ed6dcb2e0728ca&oe=582BA0AB"}},"id":"589160260"}'
  recorded_at: Sat, 09 Jul 2016 20:48:32 GMT
- request:
    method: post
    uri: https://kong:8443/v1/users/oauth2/token
    body:
      encoding: US-ASCII
      string: client_secret=c8781848973840d0abb7066be259a9b9&client_id=cb682a2bd36c49e6a344db38279fccba&scope=app&provision_key=6bd5652d5ba641b2b21e424c5dda07fa&grant_type=password&authenticated_userid=0547296d-ba4b-435f-ba55-d2206ea6574a
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"refresh_token":"5fc11fcd420949f09bb0f9dba6465979","token_type":"bearer","access_token":"d6f55d78b2314182989b855fe5add423","expires_in":72000}
  recorded_at: Sat, 09 Jul 2016 20:48:32 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=EAACEdEose0cBAIRxGQnRSVDZCYmR8tRXiErwvxljf6TwiUcBcZBud6y7EtzJG2x8T0UuyZB04v1QzockmCFAtQUZClhjfFZAcMojCiJZA12jkByV8aLZCGLXiNU9ldL7npOejVGiXwnxcEB4L4G4kbggCItLNIB5tLlfLXZAU71vZCgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":2,"total_time":2}'
      Etag:
      - '"2644584336147361dfd27341d6a88ea453907a0b"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.0
      Last-Modified:
      - '2016-03-19T06:22:14+0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"589160260","bio":"http:\/\/www.flickr.com\/photos\/rafaelchacon","birthday":"08\/31\/1985","education":[{"school":{"id":"112454562100382","name":"Maria
        Montessori"},"type":"High School","year":{"id":"194603703904595","name":"2003"},"id":"10150401097845261"},{"concentration":[{"id":"112377098773944","name":"Computer
        Engineering"}],"school":{"id":"106362012738603","name":"Sim\u00f3n Bol\u00edvar
        University"},"type":"College","year":{"id":"141778012509913","name":"2008"},"id":"10150816740930261"}],"email":"rafaelchacon\u0040gmail.com","favorite_athletes":[{"id":"186676354713214","name":"James
        Rodriguez"}],"first_name":"Rafael","gender":"male","hometown":{"id":"115175415163151","name":"San
        Crist\u00f3bal, Venezuela"},"languages":[{"id":"110343528993409","name":"Spanish
        (language)"},{"id":"106059522759137","name":"English"},{"id":"112264595467201","name":"Fran\u00e7ais"}],"last_name":"Chac\u00f3n
        Vivas","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/589160260\/","location":{"id":"114952118516947","name":"San
        Francisco, California"},"locale":"en_US","middle_name":"Alberto","name":"Rafael
        Alberto Chac\u00f3n Vivas","political":"Liberal","relationship_status":"Married","significant_other":{"name":"Johanna
        Figueira","id":"10154027788405010"},"quotes":"El hombre es la medida de todas
        las cosas....., \n","timezone":-7,"updated_time":"2016-03-19T06:22:14+0000","verified":true,"work":[{"employer":{"id":"105630153496","name":"MyFitnessPal"},"location":{"id":"114952118516947","name":"San
        Francisco, California"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2014-01-31","id":"10154002183805261"},{"end_date":"2013-01-31","employer":{"id":"18506803485","name":"Noomii"},"location":{"id":"114497808567786","name":"Vancouver,
        British Columbia"},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2011-06-01","id":"10153545065250261"}]}'
  recorded_at: Sat, 09 Jul 2016 20:48:32 GMT
recorded_with: VCR 2.9.3
