---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.6/me?access_token=invalid&fields=email,first_name,last_name,picture.type(large)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"AkA7LyREf8M"}}'
  recorded_at: Sat, 09 Jul 2016 20:48:31 GMT
recorded_with: VCR 2.9.3
