---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"BbR6t0MxOOP"}}'
  recorded_at: Wed, 30 Mar 2016 06:14:50 GMT
recorded_with: VCR 2.9.3
