---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=EAACEdEose0cBAOyptxp0nMIx2GVcD3KDzEZCZB4ZCiTpsB4XuKKWqZCeZBB9Ps4l3cIrt3bmPq0aXZCiWJhmtMmPlZBxmiUn7TmHXr8NeKh6NkhCc7aBqu4EMjZAonGaqd52o4KMZBmYkYNbBg12kSE6HXSo6vHZCv1CPJNYG2JAniIgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":4,"total_cputime":3,"total_time":2}'
      Etag:
      - '"fd321f0c4e6d9b831aa4f63a33384ad43f2c24e1"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.0
      Last-Modified:
      - '2016-07-09T21:22:35+0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"589160260","bio":"Yei!","birthday":"08\/31\/1985","education":[{"school":{"id":"112454562100382","name":"Maria
        Montessori"},"type":"High School","year":{"id":"194603703904595","name":"2003"},"id":"10150401097845261"},{"concentration":[{"id":"112377098773944","name":"Computer
        Engineering"}],"school":{"id":"106362012738603","name":"Sim\u00f3n Bol\u00edvar
        University"},"type":"College","year":{"id":"141778012509913","name":"2008"},"id":"10150816740930261"}],"email":"rafaelchacon\u0040gmail.com","favorite_athletes":[{"id":"186676354713214","name":"James
        Rodriguez"}],"first_name":"Rafael","gender":"male","hometown":{"id":"115175415163151","name":"San
        Crist\u00f3bal, Venezuela"},"languages":[{"id":"110343528993409","name":"Spanish
        (language)"},{"id":"106059522759137","name":"English"},{"id":"112264595467201","name":"Fran\u00e7ais"}],"last_name":"Chac\u00f3n
        Vivas","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/589160260\/","location":{"id":"114952118516947","name":"San
        Francisco, California"},"locale":"en_US","middle_name":"Alberto","name":"Rafael
        Alberto Chac\u00f3n Vivas","political":"Liberal","relationship_status":"Married","significant_other":{"name":"Johanna
        Figueira","id":"10154027788405010"},"quotes":"El hombre es la medida de todas
        las cosas....., \n","timezone":-7,"updated_time":"2016-07-09T21:22:35+0000","verified":true,"work":[{"employer":{"id":"105630153496","name":"MyFitnessPal"},"location":{"id":"114952118516947","name":"San
        Francisco, California"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2014-01-31","id":"10154002183805261"},{"end_date":"2013-01-31","employer":{"id":"18506803485","name":"Noomii"},"location":{"id":"114497808567786","name":"Vancouver,
        British Columbia"},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2011-06-01","id":"10153545065250261"}]}'
  recorded_at: Sat, 09 Jul 2016 22:37:09 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.6/me?access_token=EAACEdEose0cBAOyptxp0nMIx2GVcD3KDzEZCZB4ZCiTpsB4XuKKWqZCeZBB9Ps4l3cIrt3bmPq0aXZCiWJhmtMmPlZBxmiUn7TmHXr8NeKh6NkhCc7aBqu4EMjZAonGaqd52o4KMZBmYkYNbBg12kSE6HXSo6vHZCv1CPJNYG2JAniIgZDZD&fields=email,first_name,last_name,picture.type(large),bio,website
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":4,"total_cputime":3,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.6
      Etag:
      - '"38740ed065b43d4d2332d6a151640c4731ad8d65"'
    body:
      encoding: ASCII-8BIT
      string: '{"email":"rafaelchacon\u0040gmail.com","first_name":"Rafael","last_name":"Chac\u00f3n
        Vivas","picture":{"data":{"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p200x200\/1509000_10153823490520261_711811054_n.jpg?oh=1afce5475c6942bc25ed6dcb2e0728ca&oe=582BA0AB"}},"bio":"Yei!","id":"589160260"}'
  recorded_at: Sat, 09 Jul 2016 22:37:09 GMT
- request:
    method: post
    uri: https://kong:8443/v1/users/oauth2/token
    body:
      encoding: US-ASCII
      string: client_secret=80c68b9e1ee6481e919838b8ff844e8b&client_id=c3cd6be1d8ab440791c1483158c292bd&scope=app&provision_key=15630cd47d1e4f9d83f24820e7453616&grant_type=password&authenticated_userid=f40390b0-4475-4008-b9d8-f4af16c9ce6a
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"refresh_token":"2bd5c2f2bc204710a946523e16cc5d0a","token_type":"bearer","access_token":"9a7ab046ce2d4189a83f9aff02b441db","expires_in":72000}
  recorded_at: Sat, 09 Jul 2016 22:37:09 GMT
recorded_with: VCR 2.9.3
