---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.6/me?access_token=EAACEdEose0cBAEn932kZAW9DZBVJRSpW3yN71YsNfZAL5uuekUUN9JAZC2lWCkv6bxfVq3SNXwPrmJKP5cudu0HmfRXow65RvXRmTTIOI9PhCOclvYTYt32hRe57bILfqwRsNPIMBVRBmxuqNMMwP9UEnN8VItUD2RQSSyOK4AZDZD&fields=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"43a11198efb2fe296b6c29bfd08c71a860c4ec7e"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.6
    body:
      encoding: UTF-8
      string: '{"email":"rafaelchacon\u0040gmail.com","id":"589160260"}'
  recorded_at: Sun, 03 Jul 2016 01:11:30 GMT
- request:
    method: post
    uri: https://kong:8443/v1/users/oauth2/token
    body:
      encoding: US-ASCII
      string: client_secret=7b8c99643062493abfa663df84670e7b&client_id=c7d40213f62c439c83ae930c604cb4a3&scope=app&provision_key=455871e48d2f454aae8ee3c239add5f8&grant_type=password&authenticated_userid=76b8fa05-4fab-4ac8-926d-56069e23378f
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"refresh_token":"e9e01c07b9c84c9094a35510e8b0b38e","token_type":"bearer","access_token":"f095c186cdc848d5ba9f16c17c1b1b9a","expires_in":72000}
  recorded_at: Sun, 03 Jul 2016 01:11:30 GMT
recorded_with: VCR 2.9.3
