---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.6/me?access_token=EAACEdEose0cBAIRxGQnRSVDZCYmR8tRXiErwvxljf6TwiUcBcZBud6y7EtzJG2x8T0UuyZB04v1QzockmCFAtQUZClhjfFZAcMojCiJZA12jkByV8aLZCGLXiNU9ldL7npOejVGiXwnxcEB4L4G4kbggCItLNIB5tLlfLXZAU71vZCgZDZD&fields=email,first_name,last_name,picture.type(large)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":2,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.6
      Etag:
      - '"a136f4821093dfb342e36c06326fb628db51f86a"'
    body:
      encoding: ASCII-8BIT
      string: '{"email":"rafaelchacon\u0040gmail.com","first_name":"Rafael","last_name":"Chac\u00f3n
        Vivas","picture":{"data":{"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p200x200\/1509000_10153823490520261_711811054_n.jpg?oh=1afce5475c6942bc25ed6dcb2e0728ca&oe=582BA0AB"}},"id":"589160260"}'
  recorded_at: Sat, 09 Jul 2016 20:48:31 GMT
- request:
    method: post
    uri: https://kong:8443/v1/users/oauth2/token
    body:
      encoding: US-ASCII
      string: client_secret=c8781848973840d0abb7066be259a9b9&client_id=cb682a2bd36c49e6a344db38279fccba&scope=app&provision_key=6bd5652d5ba641b2b21e424c5dda07fa&grant_type=password&authenticated_userid=b9f60f58-f647-47bf-b013-9fb8a271f8b7
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"refresh_token":"8b3124089bde48b18e031ad615f3de08","token_type":"bearer","access_token":"08afd5b460074686a81aa26395973735","expires_in":72000}
  recorded_at: Sat, 09 Jul 2016 20:48:31 GMT
recorded_with: VCR 2.9.3
