---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.6/me?access_token=EAACEdEose0cBAEn932kZAW9DZBVJRSpW3yN71YsNfZAL5uuekUUN9JAZC2lWCkv6bxfVq3SNXwPrmJKP5cudu0HmfRXow65RvXRmTTIOI9PhCOclvYTYt32hRe57bILfqwRsNPIMBVRBmxuqNMMwP9UEnN8VItUD2RQSSyOK4AZDZD&fields=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":5,"total_cputime":1,"total_time":2}'
      Etag:
      - '"43a11198efb2fe296b6c29bfd08c71a860c4ec7e"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.6
    body:
      encoding: UTF-8
      string: '{"email":"rafaelchacon\u0040gmail.com","id":"589160260"}'
  recorded_at: Sun, 03 Jul 2016 01:20:43 GMT
- request:
    method: post
    uri: https://kong:8443/v1/users/oauth2/token
    body:
      encoding: US-ASCII
      string: client_secret=7b8c99643062493abfa663df84670e7b&client_id=c7d40213f62c439c83ae930c604cb4a3&scope=app&provision_key=bb426da61b8d480499bdbabf6a70c68b&grant_type=password&authenticated_userid=cc0a4736-f245-48d1-86ed-b88508c01499
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"refresh_token":"e9d90ea8c7954168b8cc25ccae5255bc","token_type":"bearer","access_token":"018c870b351b4b01b6edb0375ceaf5cb","expires_in":72000}
  recorded_at: Sun, 03 Jul 2016 01:20:43 GMT
recorded_with: VCR 2.9.3
