---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACEdEose0cBABRxEbIBdeJepV39f9ZBWIguOnRZBS9o7Ilfm10xWwetqT5O8C9gokdThkuZBGqQoe3UKVzDcFwOc6gC0Emf7JGWgBFcZCVydUpJpkFU6bmmZAMVzWvZAe6ZATif0Rs07oqSVsRvReZAB9tqWUdG9s4w5rwZBGlrBbJWNqmNhy0mq06hE1fXjFdvnWyIZAt8ZBhdgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2644584336147361dfd27341d6a88ea453907a0b"'
      Facebook-Api-Version:
      - v2.0
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - '2016-03-19T06:22:14+0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"589160260","bio":"http:\/\/www.flickr.com\/photos\/rafaelchacon","birthday":"08\/31\/1985","education":[{"school":{"id":"112454562100382","name":"Maria
        Montessori"},"type":"High School","year":{"id":"194603703904595","name":"2003"},"id":"10150401097845261"},{"concentration":[{"id":"112377098773944","name":"Computer
        Engineering"}],"school":{"id":"106362012738603","name":"Sim\u00f3n Bol\u00edvar
        University"},"type":"College","year":{"id":"141778012509913","name":"2008"},"id":"10150816740930261"}],"email":"rafaelchacon\u0040gmail.com","favorite_athletes":[{"id":"186676354713214","name":"James
        Rodriguez"}],"first_name":"Rafael","gender":"male","hometown":{"id":"115175415163151","name":"San
        Crist\u00f3bal, Venezuela"},"languages":[{"id":"110343528993409","name":"Spanish
        (language)"},{"id":"106059522759137","name":"English"},{"id":"112264595467201","name":"Fran\u00e7ais"}],"last_name":"Chac\u00f3n
        Vivas","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/589160260\/","location":{"id":"114952118516947","name":"San
        Francisco, California"},"locale":"en_US","middle_name":"Alberto","name":"Rafael
        Alberto Chac\u00f3n Vivas","political":"Liberal","relationship_status":"Married","significant_other":{"name":"Johanna
        Figueira","id":"10154027788405010"},"quotes":"El hombre es la medida de todas
        las cosas....., \n","timezone":-7,"updated_time":"2016-03-19T06:22:14+0000","verified":true,"work":[{"employer":{"id":"105630153496","name":"MyFitnessPal"},"location":{"id":"114952118516947","name":"San
        Francisco, California"},"position":{"id":"109542932398298","name":"Software
        Engineer"},"start_date":"2014-01-31","id":"10154002183805261"},{"end_date":"2013-01-31","employer":{"id":"18506803485","name":"Noomii"},"location":{"id":"114497808567786","name":"Vancouver,
        British Columbia"},"position":{"id":"109542932398298","name":"Software Engineer"},"start_date":"2011-06-01","id":"10153545065250261"}]}'
  recorded_at: Wed, 30 Mar 2016 06:29:33 GMT
- request:
    method: post
    uri: https://kong:8443/v1/users/oauth2/token
    body:
      encoding: US-ASCII
      string: client_secret=4649d46d7e6a474fc780ebe9cdbc06ab&client_id=f833910090df4ef8ce1c07f6a7819aca&scope=app&provision_key=7275091c88b749efc9aca9f3c3d8aaff&grant_type=password&authenticated_userid=cccc3ad2-b0b9-486e-9e43-dd128698c48d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"refresh_token":"288f90c3853c4c15ccf0cb1ae400db13","token_type":"bearer","access_token":"55b582a312904a25cafa66d380141d7f","expires_in":7200}
  recorded_at: Wed, 30 Mar 2016 06:29:34 GMT
recorded_with: VCR 2.9.3
