---
http_interactions:
- request:
    method: post
    uri: https://gcm-http.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - key=AIzaSyCSCRFDr89Mih_3niJ2uzqbGudO6aFkCq8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        <HTML>
        <HEAD>
        <TITLE>Unauthorized</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>Unauthorized</H1>
        <H2>Error 401</H2>
        </BODY>
        </HTML>
  recorded_at: Fri, 30 Oct 2015 16:41:17 GMT
recorded_with: VCR 2.9.3
